.navbar {
  background-color: #3367d6;
  padding: 10px 30px;
  display: flex;
}
.search-box {
  background-color: 2850a7;
  margin: auto;
  width: 400px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #6697ff;
  border-radius: 5px;
}
.search-box input {
  background-color: transparent;
  color: #fff;
  border: 0;
  outline: none;
  width: 400px;
  height: 40px;
}
.searchResultContainer {
  background-color: #fff;
}
